.colorpicker {
  width: 356px;
  height: 176px;
  overflow: hidden;
  position: absolute;
  background: url(/images/colorpicker_background.png?a79f1a2a81bfe3ed1c2ca4c41b8e1fbf);
  font-family: Arial, Helvetica, sans-serif;
  display: none;
}

.colorpicker_color {
  width: 150px;
  height: 150px;
  left: 14px;
  top: 13px;
  position: absolute;
  background: #f00;
  overflow: hidden;
  cursor: crosshair;
}

.colorpicker_color div {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  background: url(/images/colorpicker_overlay.png?c7a33805ffda0d32bd2a9904c8b02750);
}

.colorpicker_color div div {
  position: absolute;
  top: 0;
  left: 0;
  width: 11px;
  height: 11px;
  overflow: hidden;
  background: url(/images/colorpicker_select.gif?cec464162af0cce10348e7bb7701ef86);
  margin: -5px 0 0 -5px;
}

.colorpicker_hue {
  position: absolute;
  top: 13px;
  left: 171px;
  width: 35px;
  height: 150px;
  cursor: n-resize;
}

.colorpicker_hue div {
  position: absolute;
  width: 35px;
  height: 9px;
  overflow: hidden;
  background: url(/images/colorpicker_indic.gif?f485d07540a89502e36dc1a55cec05d0) left top;
  margin: -4px 0 0 0;
  left: 0px;
}

.colorpicker_new_color {
  position: absolute;
  width: 60px;
  height: 30px;
  left: 213px;
  top: 13px;
  background: #f00;
}

.colorpicker_current_color {
  position: absolute;
  width: 60px;
  height: 30px;
  left: 283px;
  top: 13px;
  background: #f00;
}

.colorpicker input {
  background-color: transparent;
  border: 1px solid transparent;
  position: absolute;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #898989;
  top: 4px;
  right: 11px;
  text-align: right;
  margin: 0;
  padding: 0;
  height: 11px;
}

.colorpicker_hex {
  position: absolute;
  width: 72px;
  height: 22px;
  background: url(/images/colorpicker_hex.png?16d6870c36e379c06fb26ebd2e16bf44) top;
  left: 212px;
  top: 142px;
}

.colorpicker_hex input {
  right: 6px;
}

.colorpicker_field {
  height: 22px;
  width: 62px;
  background-position: top;
  position: absolute;
}

.colorpicker_field span {
  position: absolute;
  width: 12px;
  height: 22px;
  overflow: hidden;
  top: 0;
  right: 0;
  cursor: n-resize;
}

.colorpicker_rgb_r {
  background-image: url(/images/colorpicker_rgb_r.png?87eeb205d093b713b68a341771f4ee27);
  top: 52px;
  left: 212px;
}

.colorpicker_rgb_g {
  background-image: url(/images/colorpicker_rgb_g.png?dc17f953a6febbe174e92b54690586c3);
  top: 82px;
  left: 212px;
}

.colorpicker_rgb_b {
  background-image: url(/images/colorpicker_rgb_b.png?2be4e81b4a5c98674abe6fc60b447e9a);
  top: 112px;
  left: 212px;
}

.colorpicker_hsb_h {
  background-image: url(/images/colorpicker_hsb_h.png?d47409a203bedc76b26dc60b71a69f6b);
  top: 52px;
  left: 282px;
}

.colorpicker_hsb_s {
  background-image: url(/images/colorpicker_hsb_s.png?5ff5e43ab6b7b41b6123bfab692a9b19);
  top: 82px;
  left: 282px;
}

.colorpicker_hsb_b {
  background-image: url(/images/colorpicker_hsb_b.png?2be4e81b4a5c98674abe6fc60b447e9a);
  top: 112px;
  left: 282px;
}

.colorpicker_submit {
  position: absolute;
  width: 22px;
  height: 22px;
  background: url(/images/colorpicker_submit.png?12d1746e6b52e007f1b78d772d9248ba) top;
  left: 322px;
  top: 142px;
  overflow: hidden;
}

.colorpicker_focus {
  background-position: center;
}

.colorpicker_hex.colorpicker_focus {
  background-position: bottom;
}

.colorpicker_submit.colorpicker_focus {
  background-position: bottom;
}

.colorpicker_slider {
  background-position: bottom;
}

.wrapper {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}

.content {
  margin: 0 auto;
}

.content .active {
  background: #ccc;
}

.content .menu-name {
  color: red;
}

.content .group {
  width: 960px;
  min-height: 500px;
  border: 1px solid #999;
  padding: 15mm 10mm;
  position: relative;
  box-sizing: border-box;
}

.content .group .box:hover {
  position: relative;
  background: #f1f1f1;
}

.content .group .box:hover .content__control {
  display: block;
}

.content__control {
  position: absolute;
  top: -15px;
  right: 0px;
  display: none;
}

.content__control .btn {
  font-size: 10px;
  font-weight: normal;
  margin-right: 10px;
  padding: 2px 16px;
  position: relative;
  top: 0px;
}

.left {
  width: 165px;
  position: relative;
  background: #706366;
}

.left .sidebar-nav {
  padding: 0 10px;
}

.left .sidebar-nav .nav-header {
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
}

.left .sidebar-nav li {
  line-height: 28px;
  margin-bottom: 3px;
}

.left .sidebar-nav li div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}

.left .sidebar-nav .btn {
  padding: 5px 7px;
  font-size: 12px;
}

.left .sidebar-nav .rows input {
  width: 70%;
  line-height: 22px;
}

.right {
  width: 200px;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.right .sidebar-nav {
  padding: 10px;
}

.right .sidebar-nav .edit-box h4 {
  text-align: center;
}

.right .sidebar-nav .edit-box label {
  color: #b3b3b3;
  margin: 0;
}

.right .sidebar-nav .edit-box div {
  margin-bottom: 10px;
}

.right .sidebar-nav .edit-box input {
  width: 100%;
}

.right .sidebar-nav .edit-box select {
  width: 100%;
}

.right .sidebar-nav .edit-base .head {
  line-height: 32px;
  color: #b3b3b3;
  margin: 5px 0 0;
}

.right .sidebar-nav .edit-base .content {
  display: flex;
  justify-content: space-around;
  margin: 5px 0;
}

.right .sidebar-nav .edit-base .content div {
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: center;
  border: 1px solid transparent;
  background-clip: padding-box;
  position: relative;
}

.right .sidebar-nav .edit-base .content .selected {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  border-color: rgba(0, 0, 0, 0.3);
}

.right .sidebar-nav .edit-base .content input {
  background-color: transparent;
  width: 100%;
  padding: 0 0 0 7px;
  height: 28px;
  border: 1px solid transparent;
  background-clip: padding-box;
  min-width: 0;
  font-size: 12px;
}

.right .sidebar-nav .edit-base .content .col30 {
  width: 30%;
}

.right .sidebar-nav .edit-base .content .col40 {
  width: 40%;
}

.right .sidebar-nav .edit-base .base-text .content,
.right .sidebar-nav .edit-base .base-margin .content,
.right .sidebar-nav .edit-base .base-padding .content {
  justify-content: space-around;
}

.right .sidebar-nav .edit-base .base-text .content > label,
.right .sidebar-nav .edit-base .base-margin .content > label,
.right .sidebar-nav .edit-base .base-padding .content > label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  height: 28px;
  margin: 1px 0;
  box-sizing: border-box;
}

.right .sidebar-nav .edit-base .base-text .content > label:hover,
.right .sidebar-nav .edit-base .base-margin .content > label:hover,
.right .sidebar-nav .edit-base .base-padding .content > label:hover {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.right .sidebar-nav .edit-base .base-text .content > label span,
.right .sidebar-nav .edit-base .base-margin .content > label span,
.right .sidebar-nav .edit-base .base-padding .content > label span {
  fill: #b3b3b3;
  color: #b3b3b3;
  pointer-events: none;
  display: flex;
  flex: 0 0 32px;
  justify-content: center;
}

.right .sidebar-nav .edit-base .base-text .font-family-size select,
.right .sidebar-nav .edit-base .base-margin .font-family-size select,
.right .sidebar-nav .edit-base .base-padding .font-family-size select {
  background: transparent;
  width: 70%;
}

.right .sidebar-nav .edit-base .base-text .font-family-size input,
.right .sidebar-nav .edit-base .base-margin .font-family-size input,
.right .sidebar-nav .edit-base .base-padding .font-family-size input {
  width: 30%;
}

.right .sidebar-nav .edit-base .base-text .content__label,
.right .sidebar-nav .edit-base .base-margin .content__label,
.right .sidebar-nav .edit-base .base-padding .content__label {
  font-size: 12px;
  font-family: arial;
  font-weight: 400;
  color: #444 !important;
}

.right .sidebar-nav .edit-base .base-border .colorpkr div {
  top: 2px;
  left: 6px;
  background: #ccc;
  width: 30px;
  height: 25px;
  border: 1px solid #666;
}

.right .sidebar-nav .edit-base .base-text .color > label {
  width: 50%;
}

.right .sidebar-nav .edit-base .base-text .colorpkr div {
  left: 5px;
  background: #ccc;
  width: 100%;
  border: 1px solid #666;
}

.drag {
  cursor: -webkit-grab;
  cursor: grab;
}

.flex-column {
  flex-direction: column !important;
}

.column {
  padding: 20px 10px;
  min-height: 50px;
  border: 1px dashed #bbb9b9;
}

.row {
  margin: 3px 0;
  position: relative;
}

.row:hover > .content__control {
  display: block;
}

.sourcepreview .group {
  border: none;
  padding: 0;
}

.sourcepreview .column {
  border: none;
}

.sourcepreview .box:hover {
  background: none !important;
}

.sourcepreview .box:hover .content__control {
  display: none !important;
}

.sourcepreview .row:hover > .content__control {
  display: none;
}

.control-group {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.li > a {
  color: #30c2e1 !important;
  font-size: 14px;
}

.li > a:hover {
  color: #fff !important;
}

.navbar,
footer {
  background: grey !important;
  margin: 0;
  border: none;
  border-radius: 0px !important;
}

.error {
  color: red;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

.left-item {
  color: #fff;
}

.left-item input,
.right input {
  color: #000 !important;
}

