.control-group{ margin-right: 0px !important; margin-left: 0px!important; }
.li>a{ color: #30c2e1 !important; font-size: 14px; }
.li>a:hover{ color: #fff !important; }
.navbar, footer{background: grey !important; margin:0; border: none; border-radius: 0px !important;}
.error{color: red;}
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
[contenteditable]:focus {
    outline: 0px solid transparent;
}
.left-item{ color: #fff; }
.left-item input, .right input{
  color: #000 !important;
}

