.wrapper {
	display: flex;
	flex-direction: row;
	padding: 10px 0;
}

.content {
	margin: 0 auto;
	.active {
		background: #ccc;
	}
	.menu-name {
		color: red;
	}

	.group {
		width: 960px;
		min-height: 500px;
		border: 1px solid #999;
		padding: 15mm 10mm;
		position: relative;
		box-sizing: border-box;
		.box:hover {
			position: relative;
			background: #f1f1f1;
			.content__control {
				display: block;
			}
		}
	}

	&__control {
		position: absolute;
		top: -15px;
		right: 0px;
		display: none;
		.btn {
			font-size: 10px;
			font-weight: normal;
			margin-right: 10px;
			padding: 2px 16px;
			position: relative;
			top: 0px;
		}
	}
}

.left {
	width: 165px;
	position: relative;
	background: #706366;
	.sidebar-nav {
		padding: 0 10px;
		.nav-header {
			cursor: pointer;
		    font-size: 16px;
		    color: #fff;
		    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
		    text-transform: uppercase;
		    font-weight: bold;
		    margin-top: 10px;
		}
		li {
		    line-height: 28px;
			margin-bottom: 3px;
			div {
				display: flex;
				justify-content: space-between;
				margin-bottom: 3px;
			}
		}
		.btn {
			padding: 5px 7px;
			font-size: 12px;
		}
		.rows {
			input {
				width: 70%;
			    line-height: 22px;
			}
		}
	}
}

.right {
	width: 200px;
	height: 100%;
	border: 1px solid rgba(0,0,0,.2);
	.sidebar-nav {
		padding: 10px;
		.edit-box {
			h4 {
				text-align: center;
			}
			label {
				color: #b3b3b3;
				margin: 0;
			}
			div {
				margin-bottom: 10px;
			}
			input {
				width: 100%;
			}
			select {
				width: 100%;
			}
		}

		.edit-base {
			.head {
			    line-height: 32px;
			    color: #b3b3b3;
			    margin: 5px 0 0;
			}
			.content {
				display: flex;
				justify-content: space-around;
				margin: 5px 0;
				div {
				    width: 24px;
				    height: 24px;
				    box-sizing: border-box;
				    display: flex;
				    align-items: center;
				    flex-flow: row nowrap;
				    justify-content: center;
				    border: 1px solid transparent;
				    background-clip: padding-box;
				    position: relative;
				}
				.selected {
					background-color: rgba(0,0,0,.2);
				    border-radius: 2px;
				    border-color: rgba(0,0,0,.3);
				}

				input {
				    background-color: transparent;
				    width: 100%;
				    padding: 0 0 0 7px;
				    height: 28px;
				    border: 1px solid transparent;
				    background-clip: padding-box;
				    min-width: 0;
					font-size: 12px;
				}
				.col30 {
					width: 30%
				}
				.col40 {
					width: 40%;
				}
			}

			.base-text, .base-margin, .base-padding {
				.content {
					justify-content: space-around;
					> label {
						user-select: none;
					    display: flex;
					    align-items: center;
					    border: 1px solid transparent;
					    height: 28px;
					    margin: 1px 0;
					    box-sizing: border-box;
						&:hover {
							border: 1px solid rgba(0,0,0,.1);
						}
						span {
						    fill: #b3b3b3;
						    color: #b3b3b3;
						    pointer-events: none;
						    display: flex;
						    flex: 0 0 32px;
						    justify-content: center;
						}
					}
				}
				.font-family-size {
					select {
						background: transparent;
						width: 70%;
					}
					input {
						width: 30%;
					}
				}
				.content__label {
				    font-size: 12px;
				    font-family: arial;
				    font-weight: 400;
				    color: #444 !important;
				}
			}
			.base-margin, .base-padding {
				
			}
			.base-border {
				.colorpkr div {
					top: 2px;
					left: 6px;
					background: #ccc;
			    	width: 30px;
    				height: 25px;
    				border: 1px solid #666;
				}
			}

			.base-text {
				.color > label {
					width: 50%;
				}
				.colorpkr div {
					left: 5px;
					background: #ccc;
					width: 100%;
					border: 1px solid #666;
				}
			}
		}
	}
}

.drag {
	cursor: grab;
}

.flex-column {
    -ms-flex-direction: column!important;
    flex-direction: column!important;
}

.column {
	padding: 20px 10px;
	min-height: 50px;
	border: 1px dashed #bbb9b9;
}

.row {
	margin: 3px 0;
	position: relative;
	&:hover > .content__control {
		display: block;
	}
	
}

.sourcepreview {
	.group {
		border: none;
		padding: 0;
	}
	.column {
		border: none;
	}
	.box:hover {
		background: none !important;
		.content__control {
			display: none !important;
		}
	}
	.row {
		&:hover > .content__control {
			display: none;
		}
	}
}