<div class="control-group form-group">
	<input class="decorative-input inspectletIgnore form-control" placeholder="Name of Category" name="name" type="text">
</div>
<div class="control-group row-space-2 form-group">
	<input class="decorative-input inspectletIgnore form-control" placeholder="Description" name="description" type="text" value="">
</div>
<input class="btn btn-danger btn-block btn-large" type="submit" value="Add new">