<div class="control-group form-group">
	<input class="decorative-input inspectletIgnore form-control" id="id_layout" placeholder="" name="id" style="display: none;">
</div>
<div class="control-group form-group">
	<input class="decorative-input inspectletIgnore form-control" placeholder="Name of layout" name="name" id="name" value="" type="text">
</div>
<div class="control-group row-space-2 form-group">
	<select name="category" required="true" class="form-control" id="category">
		<option value="">--Select a Category--</option>
	</select>
</div>
	<input class="btn btn-success btn-block btn-large" type="submit" value="Save">
	<a href="javascript:void(0);" onclick="exportZip()" class="btn btn-success btn-block btn-large">Export to .Zip File(HTML, CSS, JS)</a>



<script type="text/javascript">
	$(document).ready(function() {
		var option = '<option value="">--Select a Category--</option>';
		$.ajax({
	      	url: 'get-category', 
	      	type: 'get',   
		    success: function(data){ 
		    	for (var i = 0; i < data.length; i++) {
		    	 	option += '<option value="'+data[i].id+'">'+data[i].name+'</option>';
		    	}
		        $("#category").html(option);
		    }

		})
	});
</script>