<div class="control-group form-group">
	<input class="decorative-input inspectletIgnore form-control" placeholder="Email address" name="email" type="email">
</div>
<div class="control-group row-space-2 form-group">
	<input class="decorative-input inspectletIgnore form-control" placeholder="Password" name="password" type="password" value="">
</div>
<input class="btn btn-danger btn-block btn-large" type="submit" value="Login">