<div class="control-group form-group">
	<input class="decorative-input inspectletIgnore form-control" placeholder="Name" name="name" type="text" value="">
</div>
<div class="control-group form-group">
	<input class="decorative-input inspectletIgnore form-control" placeholder="Email address" name="email" type="email">
</div>
<div class="control-group row-space-2 form-group">
	<input class="decorative-input inspectletIgnore form-control" placeholder="Password" name="password" type="password" id="password">
</div>
<div class="control-group row-space-2 form-group">
	<input class="decorative-input inspectletIgnore form-control" placeholder="Re-password" name="password_confirmation" type="password">
</div>
<input class="btn btn-danger btn-block btn-large" name="submit" type="submit" value="Register">